#main{
    background-color: white;
}
/****** JUMBOTRON ******/
h1{
    color: #EDF5E1;
}
.jumbotron{
    background-color: transparent !important;
}
#jumbotron{
    background-color: #05386B !important;
}
/****** LEGEND ******/
legend{
    color: #05386B;
}
/****** INNER GUESTBOOK FORM SECTION ******/
#guestbook-form{
    padding-bottom: 10px;
}
/****** CONTACT INFO SECTION ******/
.contact-info {
    width: 25%;
}
.err {
    color: darkred;
    display: none;
}
.emailFormat{
    display: none;
}
#otherMain{
    display: none;
}
/****** SUBMIT BUTTON ******/
.btn{
    background-color: #05386B;
}
