/* || General styles */
.container{
    margin-top: 10rem;
}

h1{
    border-bottom: 3px solid #A43820;
}

/* || Button styles */
button.btn{
    padding:10px 20px; !important;
    color: white; !important;
    border-radius: 50px; !important;
    background-color: #A43820; !important;
}

button.btn:hover{
    color: white; !important;
    text-decoration: none; !important;
    background-color: #8F311C; !important;
}

/* || Inline error styles */
.err {
    color: darkred;
}

.form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #A43820;
    outline: 0;
    box-shadow: 0 0 0 .2rem #8F311C;
}