#college, #polyclinic {
    display:inline;
    font-weight: bold;
    padding-bottom: 0;
}
body{
    font-size: 1rem;
}
.resume-wrapper-inner{
    max-width: 1000px;
}
.text-start{
    text-align: left;
}
.resume-header{
    background-color: #A43820;
    height: 220px;
}
.title{
    font-size: 1.5rem;
    color: #000000;
}
.personal-info{
    color: #000000;
}
a, a:hover, a:active, a:visited{
    color: #000000;
}
h2{
    font-size: 1.25rem;
}
.resume-info{
    font-size: 1.25rem;
}
#career-summary, #technical-skills, #education, #experience{
    color: #A43820;
}
.date{
    float: right;
}
 